.icon {
    width: rem(22px);
    height: rem(22px);
    border: none;
  }
  
  .dark {
    @mixin dark {
      display: none;
    }
  
    @mixin light {
      display: block;
    }
  }
  
  .light {
    @mixin light {
      display: none;
    }
  
    @mixin dark {
      display: block;
    }
  }


  .BorderClass {
    border: none !important; 
    background: none !important;
  }